server:
  port: 8084

spring:
  profiles:
    active: local #default application change to test other connections
  application:
    name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false

jwt:
  secret: ${JWT_SECRET}
  accessExpiration: ${JWT_ACCESS_EXPIRATION:3600000}
  refreshExpiration: ${JWT_REFRESH_EXPIRATION:2628000000}
