spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/auth/**
            - id: patient-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/patients/**

jwt:
  secret: dev-secret-key-not-for-production
