spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL}
          predicates:
            - Path=/api/auth/**

        - id: patient-service
          uri: ${PATIENT_SERVICE_URL}
          predicates:
            - Path=/api/patients/**

jwt:
  secret: ${JWT_SECRET}
