form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: default;
    user-select: none;
}

form img {
    width: 300px;
    height: auto;
    align-self: center;
}

form label {
    display: flex;
    gap: 4.8rem;
}

form label span {
    width: 96px;
}

form label input {
    width: 240px;
}

.error-message {
    color: red;
    min-height: 1.5rem;
    margin: 0;
}

.tagline {
    max-width: 360px;
    text-align: center;
    align-self: center;
    margin-bottom: -0.25rem;
}
